In [83]:
print("test")

test

In [84]:
import pandas as pd
import numpy as np

In [85]:
df = pd.read_csv('exam.csv', na_values='-')

In [86]:
df

     id group sex  quanti  points  exam passed
0     0     A   m       9    65.0  60.5    yes
1     0     A   m       9    73.5  50.0    yes
2     0     A   m       9    77.0  37.0    yes
3     0     B   m       9    80.0  41.0    yes
4     0     B   m       9    80.0  68.0    yes
..   ..   ...  ..     ...     ...   ...    ...
108   9     B   m       9    63.5  41.5    yes
109   9     B   m      10    67.0  35.0    yes
110   9     B   m      10    94.0  53.0    yes
111   9     C   m       2    17.0   NaN     no
112   9     C   m      10    67.0  36.5    yes

[113 rows x 7 columns]

## Using a matrix to see important features. -> Impoortant features

### Step 2: drop unimportant data

In [87]:
df.drop(['id', 'group'], axis=1, inplace=True)

In [88]:
df

    sex  quanti  points  exam passed
0     m       9    65.0  60.5    yes
1     m       9    73.5  50.0    yes
2     m       9    77.0  37.0    yes
3     m       9    80.0  41.0    yes
4     m       9    80.0  68.0    yes
..   ..     ...     ...   ...    ...
108   m       9    63.5  41.5    yes
109   m      10    67.0  35.0    yes
110   m      10    94.0  53.0    yes
111   m       2    17.0   NaN     no
112   m      10    67.0  36.5    yes

[113 rows x 5 columns]

In [89]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 113 entries, 0 to 112
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   sex     113 non-null    object
 1   quanti  113 non-null    int64
 2   points  113 non-null    float64
 3   exam    77 non-null     float64
 4   passed  113 non-null    object
dtypes: float64(2), int64(1), object(2)
memory usage: 4.5+ KB

In [90]:
df.shape

(113, 5)

In [91]:
df.iloc[25: 51]

   sex  quanti  points  exam passed
25   m      10    68.0  47.0    yes
26   m       6    54.0   NaN     no
27   m       8    56.5  41.5    yes
28   m       8    67.0  36.0    yes
29   m       9    63.5  53.0    yes
30   m      10    60.0  53.5    yes
31   m      10    64.0   NaN     no
32   m      10    67.0  41.5    yes
33   m      10    70.0  60.0    yes
34   m       3    23.5   NaN     no
35   m      10    73.0  52.0    yes
36   m       5    36.5  43.0    yes
37   m       7    42.0   NaN     no
38   m       9    63.5   8.0     no
39   m       9    77.0  62.5    yes
40   m       8    54.5   NaN     no
41   m       8    56.5  33.0     no
42   m       9    62.5   7.0     no
43   m      10    67.5  44.5    yes
44   m      10    80.0  66.0    yes
45   m       9    60.0   NaN     no
46   m       8    67.0  35.5    yes
47   m       8    69.0   NaN     no
48   m      10    70.0  54.0    yes
49   m       3    19.5   NaN     no
50   m       9    66.0  56.0    yes

Impute

Encoding categorical features

hyperparameters in AI

### Drop NAs with more than 30% NA values

In [92]:
# Calculate threshold in terms of missing values
threshold = 0.30 
threshold_count = int(threshold * len(df))
print(threshold_count)
# drop more than 30 columns
df_cleaned = df.dropna(axis=1, thresh=len(df) - threshold_count)

33

In [93]:
df_cleaned

    sex  quanti  points passed
0     m       9    65.0    yes
1     m       9    73.5    yes
2     m       9    77.0    yes
3     m       9    80.0    yes
4     m       9    80.0    yes
..   ..     ...     ...    ...
108   m       9    63.5    yes
109   m      10    67.0    yes
110   m      10    94.0    yes
111   m       2    17.0     no
112   m      10    67.0    yes

[113 rows x 4 columns]

In [94]:
df_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 113 entries, 0 to 112
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   sex     113 non-null    object
 1   quanti  113 non-null    int64
 2   points  113 non-null    float64
 3   passed  113 non-null    object
dtypes: float64(1), int64(1), object(2)
memory usage: 3.7+ KB

Alternative

In [95]:
L = []
L_less = []
for i in df.columns:
    if ((df[i].isnull().sum()) < (0.4*df.shape[0])):
        L.append(i)
    else:
        L_less.append(i)

### Separate to numeric and non-numeric

In [96]:
numeric_data = df.select_dtypes(include=np.number)
non_numeric = df.select_dtypes(include=['object'])

### Imputation: Multivariate

In [97]:
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer
imp = IterativeImputer(max_iter=10, random_state=0)
numeric_data = pd.DataFrame(np.round(imp.fit_transform(numeric_data)), columns=numeric_data.columns)

In [98]:
df.isnull().sum()
# df['exam'].isnull().sum()

sex        0
quanti     0
points     0
exam      36
passed     0
dtype: int64

In [99]:
numeric_data.isnull().sum()
# numeric_data['exam'].isnull().sum()

quanti    0
points    0
exam      0
dtype: int64

Deal with non-numeric values

In [100]:
y = non_numeric['passed']

In [101]:
y, actual_values = pd.factorize(y)

In [102]:
actual_values

Index(['yes', 'no'], dtype='object')

yes - 0
no - 1

In [103]:
#first 5 values of 5
y[:5]

array([0, 0, 0, 0, 0])

check type of y

In [104]:
y.dtype

dtype('int64')

In [105]:
type(y)

numpy.ndarray

put y in a series

In [106]:
pd.Series(y).value_counts()

0    67
1    46
dtype: int64

From the above, we observe that the data is bias. We have more yes than no

Drop passed column from non_numeric df

In [107]:
non_numeric.drop('passed', axis=1, inplace=True)

In [108]:
non_numeric

    sex
0     m
1     m
2     m
3     m
4     m
..   ..
108   m
109   m
110   m
111   m
112   m

[113 rows x 1 columns]

Encode remaining features in non-numeric (sex)

In [109]:
# using get dummies - one hot encode
non_numeric = pd.get_dummies(non_numeric).astype(int)

In [110]:
non_numeric

     sex_f  sex_m
0        0      1
1        0      1
2        0      1
3        0      1
4        0      1
..     ...    ...
108      0      1
109      0      1
110      0      1
111      0      1
112      0      1

[113 rows x 2 columns]

Join the encoded data to create X variable -> training

In [111]:
X = pd.concat([numeric_data, non_numeric], axis=1)

In [112]:
X

     quanti  points  exam  sex_f  sex_m
0       9.0    65.0  60.0      0      1
1       9.0    74.0  50.0      0      1
2       9.0    77.0  37.0      0      1
3       9.0    80.0  41.0      0      1
4       9.0    80.0  68.0      0      1
..      ...     ...   ...    ...    ...
108     9.0    64.0  42.0      0      1
109    10.0    67.0  35.0      0      1
110    10.0    94.0  53.0      0      1
111     2.0    17.0  14.0      0      1
112    10.0    67.0  36.0      0      1

[113 rows x 5 columns]

### Scaling the data

In [113]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
X = scaler.fit_transform(X)

alternative: min, max scaler

Scaling is a way of compressing the variablity/distance in your data

In [114]:
pd.Series(y).value_counts()

0    67
1    46
dtype: int64

In [115]:
from sklearn.model_selection import train_test_split

In [116]:
Xtrain, Xtest, Ytrain, Ytest = train_test_split(X, y, test_size = 0.2, random_state=42, stratify=y)

### Using Decision Tree Classifier

In [117]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import SVC
from sklearn.naive_bayes import GaussianNB

In [118]:
dt = DecisionTreeClassifier(criterion='entropy')
knn = KNeighborsClassifier(n_neighbors=7)
sv = SVC(probability=True)
nb = GaussianNB()

### We use pickle when we're deplyoing our model to a website

The pickle file is what contains the trained AI model

In [119]:
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report, roc_curve
import pickle as pkl    
import os

The most important matrix when using classification: Accuracy, roc

Loop through the models, train them and dump (save) it in the pickle file

In [120]:
# create a new directory to save the file at
save_path = './trained_models/'
if not os.path.exists(save_path):
    os.makedirs(save_path)


for model in (dt, knn, sv, nb):
    model.fit(Xtrain, Ytrain)
    pkl.dump(model, open(save_path + model.__class__.__name__ + '.pkl', 'wb'))
    y_pred = model.predict(Xtest)
    print(model.__class__.__name__, confusion_matrix(Ytest, y_pred), classification_report(Ytest, y_pred))

DecisionTreeClassifier [[13  1]
 [ 2  7]]               precision    recall  f1-score   support

           0       0.87      0.93      0.90        14
           1       0.88      0.78      0.82         9

    accuracy                           0.87        23
   macro avg       0.87      0.85      0.86        23
weighted avg       0.87      0.87      0.87        23

KNeighborsClassifier [[11  3]
 [ 5  4]]               precision    recall  f1-score   support

           0       0.69      0.79      0.73        14
           1       0.57      0.44      0.50         9

    accuracy                           0.65        23
   macro avg       0.63      0.62      0.62        23
weighted avg       0.64      0.65      0.64        23

SVC [[14  0]
 [ 2  7]]               precision    recall  f1-score   support

           0       0.88      1.00      0.93        14
           1       1.00      0.78      0.88         9

    accuracy                           0.91        23
   macro avg       0.94      0.89      0.90        23
weighted avg       0.92      0.91      0.91        23

GaussianNB [[12  2]
 [ 5  4]]               precision    recall  f1-score   support

           0       0.71      0.86      0.77        14
           1       0.67      0.44      0.53         9

    accuracy                           0.70        23
   macro avg       0.69      0.65      0.65        23
weighted avg       0.69      0.70      0.68        23